@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<title>EF Repro</title>
</head>
<body>
All the action happens in Package Manager Console&gt; update-database -f -verbose

</body>
</html>
